.container-portfolio {
  padding: 1.5rem;
  background-color: white;
  color: black;

  .section-title {
    p {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  .portfolio-filters {
    text-align: center;
    margin-bottom: 20px;

    button {
      cursor: pointer;
      padding: 10px 15px;
      margin: 0 5px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      background: none;
      border: 1px solid transparent;
      transition: all 0.3s ease;

      &.active {
        border-color: var(--accent-color);
        color: var(--accent-color);
      }

      &:hover {
        border-color: var(--accent-color);
        color: var(--accent-color);
      }
    }
  }

  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .portfolio-item {
      width: calc(25% - 1.5rem);
      margin-bottom: 20px;
      position: relative;

      .portfolio-content {
        overflow: hidden;
        position: relative;
        transition: transform 0.3s;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .portfolio-info {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s;

          h4 {
            color: #fff;
            margin: 10px;
          }

          p {
            color: rgba(255, 255, 255, 0.8);
            margin: 10px;
            overflow: hidden;
          }

          .preview-link,
          .details-link {
            position: absolute;
            bottom: 10px;
            color: #fff;
            font-size: 20px;
            transition: color 0.3s;

            &:hover {
              color: var(--accent-color);
            }
          }

          .preview-link {
            left: 10px;
          }

          .details-link {
            right: 10px;
          }
        }

        &:hover {
          .portfolio-info {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 999px) {
  .container-portfolio {
    .portfolio-items {
      .portfolio-item {
        width: calc(33% - 0.5rem);
      }
    }
  }
}

@media (max-width: 768px) {
  .container-portfolio {
    .portfolio-items {
      .portfolio-item {
        width: calc(50% - 10px);
      }
    }
  }
}

@media (max-width: 576px) {
  .portfolio-item {
    width: 100%;
  }
}
